<!--Footer-->
<div class="container">
  <footer class="bg-success text-light pt-5 pb-4">
    <div class="container text center text-md-left">
      <div class="row text-center text-md-left">
        <div class="col-md-4 clo-lg-4 col-xl-4">
        <h5 class="text-uppercase mb-4 font-weight-bold text-light">Let us help</h5>
          <hr class="mb-4">
          <p>
            <a href="#" class="text-light" style="text-decoration: none;">Your Result</a><br>
            <a href="#" class="text-light" style="text-decoration: none;">Your Feedback</a><br>
            <a href="#" class="text-light" style="text-decoration: none;">Help</a>
          </p>
        </div>
  
        <div class="col-md-2 clo-lg-2 col-xl-2">
        <h5 class="text-uppercase mb-4 font-weight-bold text-light">Explore</h5>
          <hr class="mb-4">
          <p>
            <a href="#" class="text-light" style="text-decoration: none;">Other Crops</a><br>
            <a href="#" class="text-light" style="text-decoration: none;">Available Crops</a><br>
            <a href="#" class="text-light" style="text-decoration: none;">Help</a>
          </p>
        </div>
        <div class="col-md-6 clo-lg-6 col-xl-6">
          <h5 class="text-uppercase mb-4 font-weight-bold text-light">Contact</h5>
          <hr class="mb-4">
          <p>
            <li class="fas fa-home mr-3"></li>United International University, Dhaka<br>
            <li class="fas fa-envelope mr-3"></li>tshuvo162006@bseee.uiu.ac.bd<br>
            <li class="fas fa-envelope mr-3"></li>rupaksalekin2018@gmail.com<br>
          </p>
        </div>
        
        <div>
  
          <hr class="mb-4">
          <div class="row d-flex justify-content-center">
            <p>
              Copyright 2021 All Rights Reserved By :
              <a href="#" style="text-decoration: none;">
                <strong class="text-light">Disease Detector</strong>
              </a>
            </p>
          </div>
  
        </div>
        <div class="row d-flex justify-content-center">
          <ul class="list unstyled list inline">
            <li class="list-inline-item">
              <a href="#" class="text-light"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-light"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-light"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-light"><i class="fab fa-google-plus"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
  </footer>
</div>
