{%extends 'layout.html' %}
{%block body%}
<!--Impact-->
<hr>
  <div class="container">
    <div class="card mb-3">
      <img src="static/Image/impact.jpg" class="card-img2-top impact-image" alt="Image/impact.jpg">
      <div class="card-body bg-success text-white">
        <h5 class="card-title">Impact of Our Project</h5>
        <p class="card-text">The most common plant diseases are caused by virus, bacteria and insects. A large number of crops are lost every year because of affecting plant diseases. Our project can detect plant diseases at an early stage. Key impacts of our project are:</p>
       
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-success">Decrease of crop loss through early detection.</li>
        <li class="list-group-item list-group-item-success">Prevention of food shortage.</li>
        <li class="list-group-item list-group-item-success">Increase of supply through increased production.</li>
      </ul>
    </div>
  </div>
  {%endblock%}
